#mazer-canvas {
    background-color: black;
}

.win-modal {
    display: none;
    background-color: rgb(20, 176, 223);
    color: white;
    text-align: center;
    height: 200px;
    width: 1100px;
    position: absolute;
    top: 250px;
}

.is-open {
    display: block;
    /* background-color: rgb(20, 176, 223);
    color: white;
    text-align: center;
    height: 200px;
    width: 1100px;
    position: absolute;
    top: 250px; */
}

p {
    font-family: 'Press Start 2P';
    padding-top: 40px;
    font-size: 40px;
}



